

<!DOCTYPE html>
<html>
<head>
  <title>Add Book</title>
</head>
<body>
  <h2>Add New Book</h2>
  <form action="/add" method="POST">
    Book Name: <input type="text" name="book_name" required><br>
    Author: <input type="text" name="author" required><br>
    Publisher: <input type="text" name="publisher" required><br>
    <button type="submit">Add Book</button>
  </form>
  <br>
  <a href="/books">View Book List</a>
</body>
</html>
