<!DOCTYPE html>
<html>
<head>
  <title>Add Book</title>
</head>
<body>
  <h2>Add New Book</h2>
  <form action="/update/<%=user.id%>" method="POST">
    Book Name: <input type="text" name="book_name" value="<%=user.book_name%>"required><br>
    Author: <input type="text" name="author" value="<%=user.author%>"required><br>
    Publisher: <input type="text" name="publisher"value="<%=user.publisher%>"required><br>
    <button type="submit">Update Book</button>
  </form>
  <br>
  <a href="/books">View Book List</a>
</body>
</html>
