<html>
    <body>
        <form action="/select" method="get">
            <table>
                <th>Id</th>
                <th>Book_Name</th>
                <th>Author</th>
                <th>Publisher</th>
                <button type="submit" name="submit"value="search"></button>
            </table>
        </form>
    </body>
</html>